.buttonLine {
  display: flex;
  margin-bottom: 1rem;
  flex-shrink: 0;
  justify-content: space-between;
  font-size: 0.9rem;
}

.buttonLine button {
  margin-right: .2rem;
}

.buttonLine button:last-child {
  margin-right: 0;
}

.requestForm {
  /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25); */
  flex-grow: 1;
  height: 0;
}

.requestJSON {
  flex-grow: 1;
  height: 0;
}

.leftPanel {
  display: flex;
  flex-direction: column;
  height: 80vh;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  padding: .3rem;
  overflow-x: auto;
}

.formGroup {
  margin-bottom: .5rem;
  /* border: 1px solid #E0E0E0; */
}

@media (max-width: 500px) {
  .leftPanel {
    margin-bottom: 1rem;
    height: 100vh;
  }
}