.buttonLine {
  display: flex;
  margin-bottom: .5rem;
}

.buttonLine button {
  margin-right: .2rem;
}

.buttonLine button:last-child {
  margin-right: 0;
}

.requestForm {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.requestJSON {
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}