.inputItem {
  display: flex;
  flex-direction: column;
  /* margin-bottom: 8px; */
  /* margin-right: 4px; */
}

.input {
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 0;
  padding: 5px 8px;
  font-size: 12px;
  max-width: 100%;
  flex-shrink: 2;
}

.input:focus {
  border: 1px solid #000;
}

.label {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 1.3;
  color: #000000;
  margin-bottom: 4px;
}

.inputGroup {
  width: 100%;
  display: flex;
  position: relative;
}

.inputBtn {
  position: absolute;
  right: 0;
  top: 0;
}

.dropdown {
  position: absolute;
  right: 0;
  top: 25px;
  width: 100%;
  background-color: #fff;
  margin: 0;
  padding: 0.4em;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, .3);
  z-index: 200;
}

.listItem {
  list-style-type: none;
  padding: 0;
}

.listItemBtn {
  border: none;
  background-color: #fff;
  width: 100%;
  cursor: pointer;
}

.listItemBtn:hover {
  background-color: #000;
  color: #fff;
}