.button {
  border: 1px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.basic.normal,.add.normal, .remove.normal  {
  background: #FFFFFF;
}

.basic.hover {
  background: #4F4F4F; 
  border-color:  #4F4F4F ;
}
.hover  svg  path {
  fill: white;
}

.add.hover {
  background: #27AE60;
  border-color: #27AE60;
}

.remove.hover {
  background: #EB5757;
  border-color: #EB5757;
}


.small {
 height: 14px; 
 width: 14px; 
}

.medium {
  height: 24px; 
  width: 24px; 
}