.optional {
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  flex-wrap: wrap;
}

.optionalName {
  font-size: 10px;
  line-height: 12px;
  color: #000000;
  padding: 0 8px;
}

.optionalBtn {
  background: #F2F2F2;
  /* border-radius: 3px; */
  border: none;
  width: 25px;
  height: 25px;
}

.cf {
  width: 100%;
  display: flex;
  padding: 8px;
}