.response {
  width: 100%;
  height: calc(80vh);
  background: #F2F2F2;
  border: 1px dashed #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  width: 30rem;
  padding: 1rem 2rem;
}