.cf__wrapper {
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  flex-wrap: wrap;
}

.cf__btlockName {
  font-size: 10px;
  line-height: 12px;
  color: #000000;
  padding: 0 8px;
}

.cf__addBtn {
  background: #F2F2F2;
  /* border-radius: 3px; */
  border: none;
  width: 25px;
  height: 25px;
}

.cf__removeBtn {
  background: #fff;
  border-radius: 3px;
  border: 1px solid black;
  width: 25px;
  height: 25px;
}

.cfImet {
  padding: 0 8px;
  display: flex;
  width: 100%;
  align-items: flex-end;
  margin-bottom: 8px;
  margin-top: 8px;
  justify-content: space-between;
}