.name {
  font-size: 8px;
  line-height: 10px;
  color: #828282;
}

.value {
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

.inline {
  display: flex;
  flex-wrap: wrap;
}

.half {
  flex-basis: 50%;
}