.inline {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  margin: 0 -1rem;
  height: 100%;
}

.half {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  /* height: 100%; */
  overflow-y: auto;
  min-width: 400px;
  max-width: 450px;
}

.response {
  /* padding: 1rem 2.5rem; */
  /* background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25); */
  /* height: 100vh; */
}

@media (max-width: 800px) {
  .response {
    height: auto;
    margin-bottom: 1rem;
    justify-content: center;
  }
  .inline {
    height: auto;
    margin: 0 auto;
    justify-content: center;
  }
  .half {
    padding: 0;
    height: auto;
    min-width: 100%;
  }
}

.header {
  padding-bottom: .3rem;
  border-bottom: 2px solid black;
}