.inline {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  margin: 0 -1rem;
  height: 100%;
}

.half {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  height: 100%;
  overflow-y: auto;
  min-width: 300px;
  max-width: 50%;
}

.response {
  padding: 1rem 2.5rem;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  height: 80vh;
}

@media (max-width: 700px) {
  .response {
    padding: 1rem .5rem;
    height: auto;
    margin-bottom: 1rem;
    justify-content: center;
  }
  .inline {
    height: auto;
    margin: 0 auto;
    justify-content: center;
  }
  .half {
    padding: 0;
    height: auto;
  }
}