.inline {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.half {
  /* width: 50%; */
  margin-right: 8px;
  flex-grow: 1;
}

.half:last-child {
  margin-right: 0;
}