.inline {
  display: flex;
  /* margin: 0 -.3em 0 -.3em; */
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  /* margin-bottom: .4rem; */
}

.half {
  width: 49%;
  /* padding: 1rem .3rem; */
}

.third {
  width: 32%;
  /* padding: 0 .3rem; */
}

.half:last-child {
  margin-right: 0;
}

.gutter {
  /* margin: 0 -.3em 0 -.3em; */
}

.cell {
  /* padding: 0 .3em 0 .3em; */
}

.h4 {
  margin: 0;
}

.line {
  margin-bottom: .5rem;
}

.description {
  font-size: .7rem;
  margin: .3rem 0 0 0;
  margin-bottom: .7rem;
  color: #777;
}

.promoItem {
  display: flex;
  /* margin: 0 -.3em 0 -.3em; */
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
}

.promoItemInput {
  flex-shrink: 2;
}

.promoBlock {
  /* margin: .5rem 0; */
  padding: .3rem;
  width: 49%;
  align-items: center;
  border: 1px solid #E0E0E0;
}

.promoBlockHeader {
  display: flex;
  align-items: center;
}

.promoBlockHeader button {
  margin-right: .5rem;
}

.orderButtons {
  display: flex;
  font-size: .7rem;
}

.center {
  align-items: center;
}