$primary-color: #000;
@import "loaders.css/src/animations/ball-scale-ripple-multiple.scss";
.loader-hidden {
  display: none;
}

.loader-active {
  display: block;
}

.loading {
  background: #ffffff;
  border: 1px solid #bdbdbd;
  padding: 1rem 1.7rem;
  margin-bottom: 0.5rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
