.form {
  /* padding: .3rem .6rem 0 .6rem; */
  background-color: #fff;
}

.inline {
  display: flex;
  margin: 0 -.3em 0 -.3em;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.half {
  width: 50%;
  padding: 1rem .3rem;
}

.third {
  width: 33%;
  padding: 0 .3rem;
}

.inputGroup {
  padding: .3rem .6rem 0 .6rem;
}

.fit {
  display: flex;
  flex-direction: column;
}

.editorWrapper {
  flex-grow: 1;
  height: calc(100% - (46.8px + 8px) - 37.6px);
}

.description {
  font-size: .6rem;
}

@media (max-width: 400px) {
  .third {
    width: 100%;
  }
  .editorWrapper {
    height: calc(100% - (130.8px + 8px) - 37.6px);
  }
}

.buttonLine {
  display: flex;
  margin-bottom: .5rem;
  flex-shrink: 0;
  justify-content: space-between;
}

.h2 {
  margin: 0;
}

.h4 {
  margin: 0;
}