@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
body {
  font-family: 'Montserrat', sans-serif;
  background: #FAFAFA;
  font-size: 16px;
}

* {
  box-sizing: border-box;
  outline: none;
}