.inline {
  display: flex;
  /* margin: 0 -.3em 0 -.3em; */
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.buttonLine {
  display: flex;
  margin-bottom: .5rem;
  flex-shrink: 0;
  justify-content: space-between;
}

.h2 {
  margin: 0;
}

.h4 {
  margin: 0;
}

.half {
  width: 49%;
}

.externalPromo {
  border: 1px solid #E0E0E0;
  padding: .3rem .3rem .3rem .3rem;
}

.item {
  padding-bottom: .4rem;
  padding-top: .4rem;
  border-bottom: 1px solid #E0E0E0;
}

.item:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.promoTypeBtns {
  font-size: .7rem;
  margin-bottom: .5rem;
}

.promoTypeBtns button:first-child {
  margin-right: -1px;
}