.inline {
  display: flex;
  margin: 0 -.3em 0 -.3em;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.buttonLine {
  display: flex;
  margin-bottom: .5rem;
  flex-shrink: 0;
  justify-content: space-between;
}

.h2 {
  margin: 0;
}

.h4 {
  margin: 0;
}